<header class="header">
  <div class="header-container">
    
    <nav class="header-menu">
      
      <button type="button" class="menu-button" aria-expanded="false" data-menu-button>
        <svg width="20.5" height="12" aria-label="Переключатель мобильного меню">
          <use class="icon-menu" href="/images/sprite.svg#icon-menu"></use>
          <use class="icon-cross" href="/images/sprite.svg#icon-cross"></use>
        </svg>
      </button>
      <div class="menu-container" id="menu-container" data-menu>
        <div class="logo">
          <a class="link" href="./index.html">
            <div class="parts">
              <span class="logo-part">Hell</span>
              <svg class="footer-icon">
                <use href="./images/sprite.svg#fire"></use>
              </svg>
              <span class="logo-part">EN</span>
            </div>
            <span class="logo-part-scnd">
              <span class="orange">Адский</span> английский</span>
          </a>
        </div>
        <ul class="header-list-navigation">
          <li class="list-navigation-item">
            <a href="#" class="list-navigation-link">Программы обучения</a>
          </li>
          <li class="list-navigation-item"><a href="#" class="list-navigation-link current">О нас</a></li>
          <li class="list-navigation-item">
            <a href="#" class="list-navigation-link">Варианты обучения
          </li>
          <li class="list-navigation-item"><a href="#" class="list-navigation-link">Контакты</a></li>
        </ul>
        <button type="button" class="header-button">Консультация по телефону</button>
      </div>
    </nav>

  </div>
</header>