<section class="hero">
  <div class="hero-container">
    <h1 class="hero-title">
      Комплексная подготовка к ВНО по английскому языку
    </h1>
    <p class="hero-description">
      <span class="hero-accent-grey">Просто не будет.</span>Но ты гарантировано
      наберешь
      <span class="hero-accent-orange">+25 баллов</span>
    </p>
    <button type="button" class="hero-button">
      Хочу на бесплатное занятие
    </button>
    <picture>
      <source
        srcset="
          ./images/png/podgotovka-k-vno-desctop.png,
          ./images/png/podgotovka-k-vno-desctop-x2.png 2x
        "
        media="(min-width: 1344px)"
        type="image/png"
      />
      <source
        srcset="
          ./images/png/podgotovka-k-vno-tablet.png,
          ./images/png/podgotovka-k-vno-tablet-x2.png 2x
        "
        media="(min-width: 768px)"
        type="image/png"
      />
      <source
        srcset="
          ./images/png/podgotovka-k-vno-mobile.png,
          ./images/png/podgotovka-k-vno-mobile-x2.png 2x
        "
        media="(max-width: 767px)"
        type="image/png"
      />

      <img
        src="./images/png/podgotovka-k-vno-mobile.png"
        alt="HellEN - подготовка к ВНО"
        class="hero-img"
      />
    </picture>
    <ul class="hero-list-advantages">
      <li class="hero-list-item">
        <svg class="hero-icon">
          <use href="./images/sprite.svg#hero-icon1"></use>
        </svg>
        <p class="hero-advantages-title">
          Адаптированная авторская программа ВНО
        </p>
      </li>
      <li class="hero-list-item">
        <svg class="hero-icon">
          <use href="./images/sprite.svg#hero-icon2"></use>
        </svg>
        <p class="hero-advantages-title">Современные методики обучения</p>
      </li>
      <li class="hero-list-item">
        <svg class="hero-icon">
          <use href="./images/sprite.svg#hero-icon3"></use>
        </svg>
        <p class="hero-advantages-title">Финансовая гарантия результата</p>
      </li>
    </ul>
  </div>
</section>
