<section class="main-problem-section">
  <div class="container">
    <h2 class="main-problem-header">
      Главные проблемы учеников на English ВНО, которые <br />
      мы <span>помогаем</span> решить
    </h2>
    <div class="problems-solve">
      <ul class="problems-list">
        <li>
          <h3>— 01</h3>
          <p>Название грамматики</p>
        </li>
        <li>
          <h3>— 02</h3>
          <p>
            Неумение воспринимать <br />
            устную английскую речь
          </p>
        </li>
        <li>
          <h3>— 03</h3>
          <p>
            Скупой словарный запас <br />
            для написания сочинения
          </p>
        </li>
        <li>
          <h3>— 04</h3>
          <p>Подготовка в одиночку</p>
        </li>
        <li>
          <h3>— 05</h3>
          <p>
            Отсутствие единого <br />
            ресурса знаний
          </p>
        </li>
        <li>
          <h3>— 06</h3>
          <p>
            Недостаток <br />
            самоорганизации и лень
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
