<section class="our-programm">
  <div class="container">
    <div class="programm-block">
      <h2 class="section-title">Наша программа</h2>
      <ul class="list programm-block-list">
        <li class="programm-block-item">
          <h3 class="item-title">1 семестр</h3>
          <ul class="list composition-list">
            <li class="composition-item">
              <p class="item-title accent-title">— Grammar</p>
              <p>
                Nouns & Articles <br />
                Adjectives & Adverb
              </p>
            </li>
            <li class="composition-item">
              <p class="item-title accent-title">— Vocabulary</p>
              <p>
                Family & Relations <br />
                People & Society
              </p>
            </li>
          </ul>
        </li>
        <li class="programm-block-item">
          <h3 class="item-title">2 семестр</h3>
          <ul class="list composition-list">
            <li class="composition-item">
              <p class="item-title accent-title">— Grammar</p>
              <p>
                Pronouns <br />
                Active Voice <br />
                Passive Voice
              </p>
            </li>
            <li class="composition-item">
              <p class="item-title accent-title">— Vocabulary</p>
              <p>
                Home <br />
                School <br />
                Work
              </p>
            </li>
          </ul>
        </li>
        <li class="programm-block-item">
          <h3 class="item-title">3 семестр</h3>
          <ul class="list composition-list">
            <li class="composition-item">
              <p class="item-title accent-title">— Grammar</p>
              <p>
                Modal verbs <br />
                Infinitive <br />
                Gerund <br />
                Participle: 1, 2
              </p>
            </li>
            <li class="composition-item">
              <p class="item-title accent-title">— Vocabulary</p>
              <p>
                Travel & Tourism <br />
                Culture & Free Time <br />
                Sport
              </p>
            </li>
            <li class="composition-item">
              <p class="item-title accent-title">— Writing</p>
              <p>Informal Letter</p>
            </li>
          </ul>
        </li>
        <li class="programm-block-item">
          <h3 class="item-title">4 семестр</h3>
          <ul class="list composition-list">
            <li class="composition-item">
              <p class="item-title accent-title">— Grammar</p>
              <p>
                Clauses: Conditional and Wishes <br />
                Direct / Reported speech <br />
                Preposition <br />
                Conjunction <br />
                Numeral
              </p>
            </li>
            <li class="composition-item">
              <p class="item-title accent-title">— Vocabulary</p>
              <p>
                Healthy Living <br />
                Nature & Environment <br />
                Money
              </p>
            </li>
            <li class="composition-item">
              <p class="item-title accent-title">— Writing</p>
              <p>Formal Letter</p>
            </li>
          </ul>
        </li>
        <li class="programm-block-item">
          <h3 class="item-title">5 семестр</h3>
          <ul class="list composition-list">
            <li class="composition-item">
              <p class="item-title accent-title">—</p>
              <p>
                Revision <br />
                Tests
              </p>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="why-choose-us">
      <ul class="list why-choose-us-list">
        <li class="why-choose-us-item">
          <h3 class="item-title accent-title">— 01</h3>
          <p class="why-choose-us-text">Обучение в малых командах</p>
        </li>
        <li class="why-choose-us-item">
          <h3 class="item-title accent-title">— 02</h3>
          <p class="why-choose-us-text">Визуализированные конспекты</p>
        </li>
        <li class="why-choose-us-item">
          <h3 class="item-title accent-title">— 03</h3>
          <p class="why-choose-us-text">Каждое занятие имеет цель и конкретный результат</p>
        </li>
        <li class="why-choose-us-item">
          <h3 class="item-title accent-title">— 04</h3>
          <p class="why-choose-us-text">Ревльные результаты преподавателя</p>
        </li>
        <li class="why-choose-us-item">
          <h3 class="item-title accent-title">— 05</h3>
          <p class="why-choose-us-text">Прогамма курса соответствует требованиям МОН Украины</p>
        </li>
        <li class="why-choose-us-item">
          <h3 class="item-title accent-title">— 06</h3>
          <p class="why-choose-us-text">Набор команд по уровням знаний</p>
        </li>
      </ul>
    </div>
  </div>
</section>
