<!-- <footer class="footer-page">
  <section class="footer-section first">
    <h2>Регистрация на бесплатную телефонную консультацию по нюансам ЗНО по английскому языку</h2>
    <p>Оставь заявку на участие в бесплатном занятии. С вами свяжется консультант и ответит на вопросы</p>
    <input type="Name">
    <input type="Telephone">
    <button class="footer-button">
      <span class="button-text">хочу на бесплатное занятие</span>
    </button>
  </section>
  <section class="footer-section second">
    <a href="">
        <span>Hell</span>
        <svg class="footer-icon">
            <use href="./images/sprite.svg#fire"></use>
        </svg>
        <span>EN</span>
        <span>Адский английский</span>
    </a>
  </section>
  <section class="footer-section third">
    <p>@ Все права защищены, 2019</p>
  </section>
</footer>  -->

<!-- Подвал -->
<footer class="container footer-page">
  <section class="footer-section overlay">
    <h2 class="footer-title">
      Регистрация на <span class="orange">бесплатную</span><br />телефонную
      <span class="orange">консультацию</span>по нюансам<br />ЗНО по английскому
      языку
    </h2>
    <p class="footer-info">
      Оставь заявку на участие в
      <span class="orange">бесплатном занятии.</span><br />С вами свяжется
      консультант и ответит на вопросы
    </p>
    <div class="footer-checkbox" role="group">
      <p class="frst-input">
        <input class="input" type="text" placeholder="*Имя" />
      </p>
      <p class="scnd-input">
        <input class="input" type="tel" placeholder="*Телефон" />
      </p>
    </div>
    <button class="footer-button">
      <span class="button-text">хочу на бесплатное занятие</span>
    </button>
  </section>
  <section class="footer-section second">
    <div class="logo">
      <a class="link" href="">
        <div class="parts">
          <span class="logo-part">Hell</span>
          <svg class="footer-icon">
            <use href="./images/sprite.svg#fire"></use>
          </svg>
          <span class="logo-part">EN</span>
        </div>
        <span class="logo-part-scnd">
          <span class="orange">Адский</span>английский</span
        >
      </a>
    </div>
    <div class="footer-phone">
      <img src="./images/phone.png" alt="phon" />
      <p class="footer-telephone">+38 (000) 000 00 00</p>
      <img src="./images/v.png" alt="#" />
      <img class="footer-inst" src="/images/instagram.png" alt="instagram" />
    </div>
  </section>
  <section class="footer-section third">
    <p class="guard">@ Все права защищены, 2019</p>
  </section>
</footer>
