<footer class="footer-page">
    <section class="footer-section">
        <h2>Регистрация на бесплатную телефонную консультацию по нюансам ЗНО по английскому языку</h2>
        <p>Оставь заявку на участие в бесплатном занятии. С вами свяжется консультант и ответит на вопросы</p>
        <input type="Name">
        <input type="Telephone">
        <button class="footer-button">хочу на бесплатное занятие</button>
    </section>
    <section class="footer-section">
        <a href="">
            <span>Hell</span>
            <svg class="footer-icon">
                <use href="./images/sprite.svg#fire"></use>
            </svg>
            <span>EN</span>
            <span>Адский английский</span>
        </a>
    </section>
    <section class="footer-section">
        <p>@ Все права защищены, 2019</p>
    </section>
</footer> 