<section class="reviews">
    <div class="container reviews">
        <h2 class="section-title reviews">Отзывы выпускников</h2>


        <div class="reviews-item first">
            <img src="./images/jpg/tonya-desktop.jpg" alt="Tоня Кучеровская" class="foto-reviews-first" />
            <svg width="30" height="17" class="icon-vk">
                <use href="./images/vk.svg"></use>
            </svg>
            <div class="information">
                <h3 class="item-title tonya">Тоня Кучеровская</h3>
                <p class="text-profession"> Выпуск 2015-го года, Національний університет біоресурсів і
                    природокористування України</p>
                <p class="text-reviews">За короткий час занять з Оленою я опанувала граматику і поповнила свій
                    зовсім пустий словниковий
                    запас. З першого ж
                    заняття я зрозуміла, що знаходжуся у своїй тарілці. Ми з Оленою стали друзями, тому що її
                    справді хвилювала моя
                    успішність. Вона стала для мене авторитетом, проте я не тремтіла на уроках, маючи страх
                    зробити
                    найменшу помилку. Зараз
                    я можу похизуватись тим, що я студен ... Читать дальше</p>
            </div>
        </div>

        <ul class="reviews-list">
            <li class="reviews-item">
                <img src="./images/jpg/girl-1-desktop@2x.jpg" alt="Фото выпускника" class="foto-reviews" />
            </li>

            <li class="reviews-item">
                <img src="./images/jpg/girl-2-desktop@2x.jpg" alt="Фото выпускника" class="foto-reviews" />
            </li>

            <li class="reviews-item">
                <img src="./images/jpg/girl-3-desktop@2x.jpg" alt="Фото выпускника" class="foto-reviews" />
            </li>

            <li class="reviews-item">
                <img src="./images/jpg/girl-4-desktop@2x.jpg" alt="Фото выпускника" class="foto-reviews" />
            </li>

            <li class="reviews-item">
                <img src="./images/jpg/girl-5-desktop@2x.jpg" alt="Фото выпускника" class="foto-reviews" />
            </li>

            <li class="reviews-item">
                <img src="./images/jpg/girl-6-desktop@2x.jpg" alt="Фото выпускника" class="foto-reviews" />
            </li>

            <li class="reviews-item">
                <img src="./images/jpg/girl-7-desktop@2x.jpg" alt="Фото выпускника" class="foto-reviews" />
            </li>
        </ul>
    </div>
</section>