.footer-page {
  background-color: #e5e5e5;
  width: 1680px;

  @media screen and (max-width: 768px) {
    width: 768px;
  }

  @media screen and (max-width: 320px) {
    width: 320px;
  }

  .logo {
    display: inline-block;
    text-align: center;
  }

  .orange {
    color: #ff6b09;
  }
}

.footer-section {
  &.overlay {
    text-align: center;
    background-color: #111518;

    padding-top: 100px;
    padding-bottom: 62px;
    padding-left: 295px;
    padding-right: 295px;
    background-image: url('/images/png/footer-desktop.png');

    @media screen and (max-width: 768px) {
      padding-top: 50px;
      padding-bottom: 71px;
      padding-left: 40px;
      padding-right: 40px;
    }

    @media screen and (max-width: 320px) {
      padding-top: 50px;
      padding-bottom: 50px;
      padding-left: 20px;
      padding-right: 20px;
    }

    .footer-button {
      background-color: #ff6b09;
      color: #ffffff;
      border: 0;

      width: 354px;
      height: 70px;

      margin: 0;
      padding: 25px;
      margin-top: 80px;

      color: #fff;
      background-color: #ff6b09;
      background-image: linear-gradient(
        to right,
        transparent,
        transparent 50%,
        #fff 50%,
        #fff
      );
      background-position: 0 0%;
      background-size: 200% 100%;
      transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
      cursor: pointer;
      font-size: 12px;
      line-height: 1.25;
      font-family: Montserrat;
      font-weight: 700;
      font-style: normal;
      letter-spacing: 0.08em;
      text-transform: uppercase;

      @media screen and (max-width: 768px) {
        width: 260px;
        height: 48px;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 1px;
        padding-right: 1px;
        margin-top: 31px;
      }

      @media screen and (max-width: 320px) {
        width: 260px;
        height: 48px;
        padding-top: 14px;
        padding-bottom: 14px;
        padding-left: 1px;
        padding-right: 1px;
        margin-top: 50px;
      }

      &:hover,
      &:focus {
        background-position: 100% 0;
        color: #ff6b09;
      }
    }

    .footer-info {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 37px;
      text-align: center;
      letter-spacing: 0.08em;

      color: #ffffff;

      margin: 0;
      margin-top: 50px;

      @media screen and (max-width: 768px) {
        font-size: 14px;
        line-height: 17px;
        margin-top: 30px;
      }

      @media screen and (max-width: 320px) {
        font-size: 12px;
        line-height: 15px;
        margin-top: 30px;
      }
    }
  }
  &.second {
    display: inline-flex;
    align-items: center;

    padding-right: 183px;
    padding-left: 183px;

    height: 150px;

    background-color: #e5e5e5;

    @media screen and (max-width: 768px) {
      padding-right: 40px;
      padding-left: 40px;

      height: 125px;
    }

    @media screen and (max-width: 320px) {
      display: block;
      padding-right: 60px;
      padding-left: 60px;
      padding-top: 32px;
      padding-bottom: 32px;

      height: 200px;
    }
  }

  &.third {
    background-color: #111518;

    margin: 0;
    padding-top: 21px;
    padding-left: 180px;
    padding-bottom: 21px;

    @media screen and (max-width: 768px) {
      padding-top: 21px;
      padding-left: 40px;
      padding-bottom: 21px;
    }

    @media screen and (max-width: 320px) {
      padding-top: 21px;
      padding-left: 52px;
      padding-right: 52px;
      padding-bottom: 21px;
    }

    .guard {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 28px;

      align-items: center;

      color: #b9b9b9;
      margin: 0;
      white-space: nowrap;
    }
  }
}

.footer-button {
  .button-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    white-space: nowrap;

    align-items: center;
    text-align: center;
    letter-spacing: 0.14em;
    text-transform: uppercase;

    color: #ffffff;

    @media screen and (max-width: 768px) {
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.08em;
    }

    @media screen and (max-width: 320px) {
      font-size: 12px;
      line-height: 15px;
      letter-spacing: 0.08em;
    }
  }
}

.logo {
  .link {
    text-decoration: none;
    @media screen and (max-width: 768px) {
    }

    @media screen and (max-width: 320px) {
    }

    .parts {
      display: flex;
      align-items: center;
    }

    .footer-icon {
      fill: #ff6b09;
      width: 14px;
      height: 19px;
      margin-left: 4px;
      margin-right: 4px;

      @media screen and (min-width: 768px) {
        width: 22px;
        height: 30px;
        margin-left: 4px;
        margin-right: 4px;
      }
    }

    .logo-part {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 800;
      font-size: 17px;
      line-height: 1.23;
      letter-spacing: 0.02em;
      color: #111518;
      /* margin: 0; */

      @media screen and (min-width: 768px) {
        font-size: 26px;
        letter-spacing: 0.04em;
      }
    }

    .logo-part-scnd {
      display: block;
      width: 84px;
      padding-left: 1.5px;
      margin-top: 5px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: bold;
      font-size: 5px;
      line-height: 1.22;
      letter-spacing: 0.22em;
      text-transform: uppercase;
      color: #111518;

      @media screen and (min-width: 768px) {
        width: 128px;
        font-size: 8px;
        line-height: 1.25;
        letter-spacing: 0.18em;
      }

      .orange {
        color: #ff6b09;
      }
    }
  }
  /*.logo {
    
    .link {
        text-decoration: none;
    }
    
    .parts {
        display: flex;
        align-items: center;
        .footer-icon {
            fill:#FF6B09;
            width: 22px;
            height: 30px;
            margin-left: 4px;
            margin-right: 4px;
        }
        .logo-part {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 26px;
            letter-spacing: 0.04em;
    
            color: #111518;
    
            margin: 0;
        }
    }
    .logo-part-scnd {
        width: 125px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 8px;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        margin: 0;
        color: #111518;
    }
} */

  .footer-checkbox {
    display: block;
    margin-top: 56px;

    .frst-input {
      margin: 0;

      .input {
        width: 478px;
        border: 1px solid #ffffff;
        color: #ffffff;
        background-color: transparent;

        padding-top: 23px;
        padding-bottom: 23px;
        padding-left: 40px;

        @media screen and (max-width: 768px) {
          width: 390px;
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 28px;
        }

        @media screen and (max-width: 320px) {
          width: 280px;
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 28px;
        }
      }
    }

    .scnd-input {
      margin: 0;
      margin-top: 30px;

      @media screen and (max-width: 768px) {
        margin-top: 20px;
      }

      @media screen and (max-width: 320px) {
        margin-top: 20px;
      }

      .input {
        width: 478px;
        border: 1px solid #ffffff;
        color: #ffffff;
        background-color: transparent;

        padding-top: 23px;
        padding-bottom: 23px;
        padding-left: 40px;

        @media screen and (max-width: 768px) {
          width: 390px;
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 28px;
        }

        @media screen and (max-width: 320px) {
          width: 280px;
          padding-top: 15px;
          padding-bottom: 15px;
          padding-left: 28px;
        }
      }
    }
  }

  .footer-phone {
    display: inline-flex;
    text-align: center;
    align-items: center;
    margin-left: 290px;

    @media screen and (max-width: 768px) {
      margin-left: 203px;
    }

    @media screen and (max-width: 320px) {
      margin-left: auto;
      margin-right: auto;
      margin-top: 21px;
    }

    .phone-svg {
      fill: #ff6b09;
      width: 30px;
      height: 29px;

      @media screen and (max-width: 768px) {
        width: 24px;
        height: 23px;
      }

      @media screen and (max-width: 320px) {
        width: 20px;
        height: 19px;
      }
    }

    .footer-telephone {
      font-family: Montserrat;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 37px;
      white-space: nowrap;
      text-align: center;
      letter-spacing: 0.08em;

      color: #111518;

      margin: 0;
      margin-left: 15px;
      margin-right: 15px;

      @media screen and (max-width: 768px) {
        font-size: 20px;
        line-height: 24px;
      }

      @media screen and (max-width: 320px) {
        font-size: 14px;
        line-height: 17px;
      }
    }
    .footer-inst {
      margin-left: 24px;
    }
  }
}
.frst-input .input:hover,
.frst-input .input:focus {
  border-color: #ff6b09;
}

.scnd-input .input:hover,
.scnd-input .input:focus {
  border-color: #ff6b09;
}
