.footer-page {
    background-color: #E5E5E5;
    width: 1680px;

    .logo {
        display: inline-block;
        text-align: center;
    }

    .orange {
        color: #FF6B09;
    }
}

.footer-section {
    &.overlay
        {
        display: inline-block;
        text-align: center;
        width: 1680px;
        background-color: #111518;
    
        padding-top: 100px;
        padding-bottom: 62px;
        background-image: 
        url("../images/footeroverlay.jpg");
        
        .footer-button {
            background-color: #FF6B09;
            color: #FFFFFF;
            border: 0;
    
            width: 354px;
            height: 70px;
    
            margin: 0;
            padding: 25px;
        }
        .footer-title {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 46px;
            line-height: 130%;

            text-align: center;
            letter-spacing: 0.03em;

            color: #FFFFFF;

            margin: 0;
        }
        .footer-info {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 600;
            font-size: 30px;
            line-height: 37px;
            text-align: center;
            letter-spacing: 0.08em;

            color: #FFFFFF;

            margin: 0;
            margin-top: 50px;
        }

    }
    &.second {
        display: inline-flex;
        align-items: center;

        padding-right: 180px;
        padding-left: 180px;

        height: 150px;

        background-color: #E5E5E5;
    }

    &.third {
        background-color: #111518;

        margin: 0;
        padding-top: 20px;
        padding-left: 180px;
        padding-bottom: 20px;


        .guard {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 28px;

            align-items: center;

            color: #B9B9B9;
            margin: 0;
        }
    }
}

.footer-button {
    .button-text {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;

        align-items: center;
        text-align: center;
        letter-spacing: 0.14em;
        text-transform: uppercase;

        color: #FFFFFF;
    }
}

.logo {
    
    .link {
        text-decoration: none;
    }
    
    .parts {
        display: flex;
        align-items: center;

        .footer-icon {
            fill:#FF6B09;
            width: 22px;
            height: 30px;
            margin-left: 4px;
            margin-right: 4px;
        }
        .logo-part {
            font-family: Montserrat;
            font-style: normal;
            font-weight: 800;
            font-size: 26px;
            letter-spacing: 0.04em;
    
            color: #111518;
    
            margin: 0;
        }
    }

    .logo-part-scnd {
        width: 125px;

        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 8px;

        letter-spacing: 0.18em;
        text-transform: uppercase;
        margin: 0;

        color: #111518;
    }
}

.footer-section.second {
    .footer-telephone{
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        line-height: 37px;

        text-align: center;
        letter-spacing: 0.08em;

        color: #111518;

        margin: 0;
        margin-left: 50px;
    }

    .footer-telephone::before {
        content: '';
        background-image: url("/src/images/phone.png");
    }
    .footer-telephone::after {
        content: '';
        background-image: url("/src/images/v.png");
    }
}

.footer-checkbox {
    display: block;  
    .input {
        width: 478px;
        height: 70px; 
        border: 1px solid #FFFFFF;
        background-color: none;
    }      
}