.header {
  padding-top: 30px;
  padding-bottom: 50px;

  @media screen and (min-width: 768px) {
    padding-top: 40px;
    padding-bottom: 70px;
  }

  @media screen and (min-width: 1344px) {
    padding-top: 33.5px;
    padding-bottom: 125px;
  }
}

.header-container {
  position: relative;
  display: flex;
  width: 320px;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 40px;
    padding-right: 40px;
  }

  @media screen and (min-width: 1344px) {
    width: 1344px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header-menu {
  @media screen and (min-width: 768px) and (max-width: 1343px) {
    display: flex;
    justify-content: space-between;
    width: 627px;
  }
}

.logo.kostyl {
  @media screen and (min-width: 1344px) {
    display: none;
  }
}

.menu-button {
  position: absolute;
  top: 0px;
  right: 20px;
  z-index: 999;
  display: block;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;

  @media screen and(min-width: 768px) {
    top: 14px;
    right: 40px;
  }

  @media screen and(min-width: 1344px) {
    display: none;
  }

  & .icon-cross {
    display: none;
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  & .icon-menu {
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.is-open .icon-cross {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }

  &:hover .icon-menu,
  &:focus .icon-menu,
  &:hover .icon-cross,
  &:focus .icon-cross {
    color: #ff6b09;
  }
}

.logo {
  margin-top: auto;
  margin-bottom: auto;

  & .link {
    text-decoration: none;
  }

  & .parts {
    display: flex;
    align-items: center;
  }

  & .footer-icon {
    fill: #ff6b09;
    width: 14px;
    height: 19px;
    margin-left: 4px;
    margin-right: 4px;

    @media screen and (min-width: 768px) {
      width: 22px;
      height: 30px;
      margin-left: 4px;
      margin-right: 4px;
    }
  }

  & .logo-part {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 17px;
    line-height: 1.23;
    letter-spacing: 0.02em;
    color: #111518;
    /* margin: 0; */
    @media screen and (min-width: 768px) {
      font-size: 26px;
      letter-spacing: 0.04em;
    }
  }

  & .logo-part-scnd {
    display: block;
    width: 84px;
    padding-left: 1.5px;
    margin-top: 5px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 5px;
    line-height: 1.22;
    letter-spacing: 0.22em;
    text-transform: uppercase;
    color: #111518;

    @media screen and (min-width: 768px) {
      width: 128px;
      font-size: 8px;
      line-height: 1.25;
      letter-spacing: 0.18em;
    }

    @media screen and (min-width: 768px) {
      & .orange {
        color: #ff6b09;
      }
    }
  }

  .menu-container.is-open & {
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
  }

  .menu-container.is-open & .logo-part {
    color: #fff;
    text-transform: none;
  }

  .menu-container.is-open & .logo-part-scnd {
    color: #fff;
  }

  .menu-container.is-open & .logo-part-scnd .orange {
    color: #fff;
  }
}

.menu-container {
  &.is-open {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    overflow: hidden;

    @media screen and (min-width: 768px) {
      padding-top: 40px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }

  @media screen and (max-width: 1343px) {
    display: none;

    width: 100vw;
    height: 100vh;

    font-family: Montserrat;
    font-size: 20px;
    line-height: 1.8;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 0.03em;
    background-color: rgba(17, 21, 24, 0.9);
  }

  @media screen and (min-width: 1344px) {
    display: flex;
    width: 1314px;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.container-relative {
  position: relative;
  padding-top: 78px;
  @media screen and (max-width: 767px) {
    width: 280px;

    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 768px) and (max-width: 1343px) {
    width: 688px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1440px) {
    display: flex;
    padding-top: 0px;
  }
}

.header-list-navigation {
  width: 300px;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  list-style: none;

  @media screen and (min-width: 768px) {
    width: 330px;
    margin-top: 40px;
    text-align: left;
  }

  @media screen and (min-width: 1344px) {
    display: flex;
    width: 648px;
    align-items: center;
    margin-left: 144px;
    margin-right: 58px;
    margin-bottom: 0px;
    margin-top: 0px;
  }
}

.list-navigation-item:not(:last-child) {
  @media screen and (min-width: 1344px) {
    margin-right: 40px;
  }
}

.list-navigation-link {
  font-family: Montserrat;
  font-style: normal;
  text-decoration: none;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &.current {
    color: #ff6b09;
  }

  &:hover,
  &:focus {
    color: #ff6b09;
  }

  @media screen and (min-width: 1344px) {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.214;
    text-transform: uppercase;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #b9b9b9;
  }
}

.header-button {
  display: block;
  width: 260px;
  height: 48px;
  padding: 15px 5px;
  border: 2px solid #ff6b09;
  outline: none;

  color: #ff6b09;
  background-color: transparent;
  background-image: linear-gradient(
    to left,
    transparent,
    transparent 50%,
    #ff6b09 50%,
    #ff6b09
  );
  background-position: 100% 0;
  background-size: 200% 100%;

  font-size: 12px;
  line-height: 1.25;
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover,
  &:focus {
    background-position: 0 0;
    color: #fff;
  }

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1344px) {
    width: 336px;
    height: 70px;
    padding: 26.5px 23.5px;
    font-size: 14px;
    line-height: 1.214;
  }

  .menu-container.is-open & {
    @media screen and (min-width: 768px) {
      display: none;
    }
  }
}

.header-button.kostyl {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1344px) {
    display: none;
  }
}
