.hero {
  padding-bottom: 50px;
  background-repeat: no-repeat;
  background-image: url(../images/hero-background.svg);
  background-size: 768px 618px;
  background-position: -30px 0%;

  @media screen and (min-width: 768px) {
    padding-bottom: 80px;
    background-image: url(../images/hero-background.svg);
    background-size: contain;
    background-position: 50% -30px;
  }

  @media screen and (min-width: 1344px) {
    padding-bottom: 130px;
    background-image: url(../images/hero-background.svg);
    background-position: 50% -255px;
  }
}

.hero-container {
  display: block;
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    width: 768px;
    position: relative;
    padding-left: 40px;

    padding-right: 40px;
  }

  @media screen and (min-width: 1344px) {
    width: 1344px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.hero-title {
  display: block;
  width: 280px;
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 1.36;
  letter-spacing: 0.03em;
  color: #111518;

  @media screen and (min-width: 768px) {
    width: 332px;
    font-size: 26px;
    line-height: 1.3;
  }

  @media screen and (min-width: 1344px) {
    width: 642px;
    font-size: 58px;
    line-height: 1.293;
    margin-bottom: 24px;
  }
}

.hero-description {
  display: block;
  width: 280px;
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: Montserrat;
  font-size: 14px;
  line-height: 1.57;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.08em;
  color: #111518;

  @media screen and (min-width: 768px) {
    width: 300px;
  }

  @media screen and (min-width: 1344px) {
    width: 540px;
    font-size: 20px;
    line-height: 1.65;
    margin-bottom: 40px;
  }

  & .hero-accent-grey {
    display: block;
    font-weight: 500;
    color: #b9b9b9;
  }

  & .hero-accent-orange {
    color: #ff6b09;
  }
}

.hero-button {
  display: block;
  width: 260px;
  height: 48px;
  padding: 15px 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  border: 2px solid #ff6b09;
  outline: none;

  color: #fff;
  background-color: #ff6b09;
  background-image: linear-gradient(
    to right,
    transparent,
    transparent 50%,
    #fff 50%,
    #fff
  );
  background-position: 0 0%;
  background-size: 200% 100%;

  font-size: 12px;
  line-height: 1.25;
  font-family: Montserrat;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.08em;
  text-transform: uppercase;

  transition: all 300ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;

  &:hover,
  &:focus {
    background-position: 100% 0;
    color: #ff6b09;
  }

  @media screen and (min-width: 768px) {
    margin-left: 0;
    margin-bottom: 142.5px;
  }

  @media screen and (min-width: 1344px) {
    width: 354px;
    height: 70px;
    padding: 26.5px 25.5px;
    font-size: 14px;
    line-height: 1.214;
    margin-bottom: 241px;
  }
}

.hero-img {
  display: block;
  width: 208px;
  height: 177.5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 77px;

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 13px;
    right: 18px;
    width: 376px;
    height: 321px;
  }

  @media screen and (min-width: 1344px) {
    top: -79px;
    right: -107px;
    width: 842px;
    height: 718px;
  }
}

.hero-list-advantages {
  display: block;
  padding-left: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 30px;
  list-style: none;

  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;

  letter-spacing: 0.08em;
  color: #111518;

  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 1.43;
    margin-left: 0px;
  }

  @media screen and (min-width: 1344px) {
    font-size: 20px;
    line-height: 1.65;
  }
}

.hero-list-item:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 40px;
  }
}

.hero-list-item {
  position: relative;
  display: flex;
  width: 216px;

  @media screen and (min-width: 1344px) {
    width: 448px;
  }
}

.hero-icon {
  width: 59px;
  height: 60px;

  @media screen and (min-width: 768px) {
    position: absolute;
  }

  @media screen and (min-width: 1344px) {
    width: 100px;
    height: 102px;
  }
}

.hero-advantages-title {
  @media screen and (max-width: 767px) {
    display: flex;
    align-items: center;
    width: 146px;
    padding-left: 0px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  @media screen and (min-width: 768px) {
    padding-left: 69px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  @media screen and (min-width: 1344px) {
    padding-left: 82px;
    margin-top: 18px;
    margin-bottom: 18px;
  }
}
