.hwdit {
  margin-bottom: 130px;
  padding-left: 15px;
  padding-right: 15px;
}

.hwdit-title {
  font-weight: 800;
  font-size: 46px;
  line-height: 130%;
  margin-top: 0;
  margin-bottom: 50px;
  letter-spacing: 0.03em;
  color: $primary-title-color;
  padding-left: 15px;
}

.hwdit-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.hwdit-list-title {
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.4;
  letter-spacing: 0.08em;
  margin-top: 0;
  margin-bottom: 0;

  color: $primary-title-color;
}

.hwdit-list-item {
  list-style: none;
  width: calc((100% - 40px) / 3);
  background: #ffffff;
  box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
  margin-bottom: 20px;
}

.hwdit-list-item:hover,
.hwdit-list-item:focus {
  background-color: $accent-color;
}

.hwdit-list-item:hover *,
.hwdit-list-item:focus * {
  color: #ffffff;
  fill: #ffffff;
}

.hwdit-list-item:nth-child(3n) {
  margin-right: 0;
}

.hwdit-list-item:nth-child(n + 4) {
  margin-bottom: 0;
}

.hwdit-text {
  text-align: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.5555555;
  letter-spacing: 0.08em;

  color: $primary-text-color;
  margin-top: 0;
  margin-bottom: 55px;
  padding-left: 30px;
  padding-right: 30px;
}
.hwdit-icon {
  display: block;

  margin-right: auto;
  margin-left: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  fill: $accent-color;
}

.hwdit-dash {
  display: block;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  line-height: 164.9%;
  letter-spacing: 0.08em;
  color: $accent-color;
}
