.reviews{
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color:  #FFFFFF;

    @media screen and (max-width: 1343px) {
        min-width: 768px;
  }

  @media screen and (max-width: 767px) {
    min-width: 320px;
    text-align: center;
  }
}

.section-title.reviews{
    padding-top: 130px;
    margin-bottom: 0px;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0.03em;
    text-align: center;

    @media screen and (max-width:1343px) {
        padding-top: 50px;
        font-size: 26px;
    }

    @media screen and (max-width:767px){
        font-size: 20px;
    }
}

.reviews-list{
    display:flex;
    margin-top: 40px;
    margin-bottom: 130px;
    padding-left: 0px;
    justify-content: center;
    list-style: none;

    @media screen and (max-width:1343px) {
        margin-top: 30px;
        margin-bottom: 50px;
    }

    @media screen and (max-width:767px) {
        margin-top: 20px;
    }
}

.reviews-item{
    display:flex;
    margin-right: 30px;

     @media screen and (max-width:767px){
         margin-right: 10px;
     }
}

.reviews-item:last-child{
    margin-right: 0px;
}

.item-title.tonya{
    display: block;
    margin-top: 50px;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.08em;
    color: $accent-color;

    @media screen and (max-width:1343px){
        margin-top: 40px;
        font-size: 20px;
        line-height: 24px;
    }

     @media screen and (max-width:767px){
         margin-top: 70px;
         font-size: 14px;
         line-height: 17px;
     }
}

.reviews-item.first{
    position: relative;
    display: flex;
    width: 1090px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    text-align: start;
    background: #FFFFFF;
    box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);

    @media screen and (max-width:1343px){
        width: 688px;
    }

     @media screen and (max-width:767px){
         display: block;
         width: 280px;
         padding-left: 20px;
         padding-right: 20px;
         text-align: center;
     }
}

.text-profession{
    display: block;
    width: 438px;
    margin-top: 10px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.08em;
    white-space: wrap;
    color: #B9B9B9;

    @media screen and (max-width:1343px){
        width: 412px;
        margin-top: 20px;
        font-size: 12px;
        line-height: 15px;
    }

     @media screen and (max-width:767px){
         width: 240px;
         margin-top: 10px;
     }
}

.text-reviews{
    display: block;
    width: 706px;
    margin-top: 20px;
    margin-bottom: 51px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    white-space: wrap;
    color: #3D3D3D;

    @media screen and (max-width:1343px){
        width: 412px;
        margin-bottom: 40px;
        font-size: 12px;
        line-height: 20px;
    }

     @media screen and (max-width:767px){
         width: 240px;
         margin-top: 10px;
         margin-bottom: 30px;
     }
}

.information{
    display: block;
    width: 100%;
}

.foto-reviews-first{
    margin-top: 50px;
    margin-left: 82px;
    margin-right: 40px;
    width: 150px;
    height: 150px;

    @media screen and (max-width:1343px){
        margin-top: 40px;
        margin-left: 40px;
    }

     @media screen and (max-width:767px){
         width: 90px;
         height: 90px;
         margin-top: 20px;
     }
}

.foto-reviews{
    display: block;
    border-radius: 50%;
}

.icon-vk{
    position: absolute;
    top:240px;
    left: 135px;
    fill: #436EAB;

    @media screen and (max-width:1343px){
        top:220px;
        left: 90px;
    }

     @media screen and (max-width:767px){
         top:130px;
         left: 120px;
     }
}

.icon-arrow{
    width: 25px;
    height: auto;
    fill: $accent-color;
}

.arrow{
    position: absolute;
    top: 45%;
    left: 30px;
    width: 1250px;
    justify-content: center;

    @media screen and (max-width:1343px){
        width: 700px;
    }

     @media screen and (max-width:767px){
         width: 230px;
         top: 87%;
         left: 40px;
     }
}

.nav-arrow{
    display: inline-block;
    margin-right: 1150px;

    @media screen and (max-width:1343px){
        margin-right: 640px;
    }

     @media screen and (max-width:767px){
         margin-right: 175px;
     }
}

.nav-arrow:last-child{
    margin-right: 0px;
}

.continuation:hover{
    color: $accent-color;
    text-decoration: underline;
}

@media screen and (max-width:767px){
    .reviews-item.hidden{
        display: none;
    }
}