.reviews{
    background-color:  #E5E5E5;
}

.section-title.reviews{
    padding-top: 130px;
    margin-bottom: 0px;
    text-align: center;
}

.reviews-list{
    display: inline-block;
    margin-top: 50px;
    margin-bottom: 130px;
    list-style: none;
}

.reviews-item{
    display: inline-block;
}

.reviews-item.first{
    display: inline-block;
}

.foto-review-first{
    background-color: #ffffff;
}

.foto-reviews{
    background-color:#E5E5E5;
}