.teacher{
    padding-bottom: 130px;
}

.teacher img{
    display: block;
    max-width: 100%;
    height: auto;
    margin-right: 30px;
}

.teacher-title{
    margin-top: 0px;
    margin-bottom: 50px;
    
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 130%;
    letter-spacing: 0.03em;
    color: $primary-title-color;
}

.teacher-flex{
    display: flex;
    width: calc((100% - 30) / 2);
}

.teacher-name{
    margin-top: 0px;
    margin-bottom: 45px;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: 0.08em;
    color: $primary-title-color;
}

.teacher-experience{
    margin-top: 0px;
    margin-bottom: 63px;
}


.teacher-experience .item{
    list-style: none;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.06em;
    color:$primary-title-color;
    &:not(:last-child){
        margin-bottom: 30px;
    }

   
}

.teacher-experience .item::before{
    content: "";
    display: inline-flex;
    height: 20px;
    width: 25px;
    

}

.teacher-description{
    margin-top: 0px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color:$primary-text-color;
}

.link-Certificate{
    &:hover,
    &:focus{
        color:$accent-color ;
    }
}