.guarantee {
   padding-bottom: 130px;  
}

.container.garant {
    width: 1314px;
    background-color: #F1F1F1;
}

.guarantee-container {
    display: block;
    width: 1090px;
    margin-left: auto;
    margin-right: auto;
}

.guarantee-title{
   
    font-weight: 800;
    line-height: 130%;

    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;

    color:$primary-title-color;
    @media screen and (max-width: 1343px) {
        font-size: 26px; 
    }
    @media screen and (max-width: 1343px) {
        font-size: 46px; 
    }
}

.guarantee-description{
    
  display: block;
  margin-right: auto;
  margin-left: auto;
    padding-top: 50px;
    padding-bottom: 45px;
    padding-left: 0;
    padding-right: 0;
    list-style: none;
    margin: 0;
    width: 1090px;
    position: relative;
     
}

.guarantee-list:not(:last-child)::before{
    position: absolute;
    content: " ";
    display: block;
    height: 35px;
    border-left: 2px dashed #B9B9B9;
    margin-top: 75px;
    left: 10px;
}


.guarantee-list {
    display: inline-flex;
    margin: 0;
    align-items: center;
    
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    color: #3D3D3D;
    width: 1090px;

    &:not(:last-child){
        margin-bottom: 20px;
    }
}

.guarantee-list p {
    margin: 0;
    padding: 0;
}

.text-decor{
    
    color: $accent-color ;
    
}

.fire{
    
    margin-right: 30px;
    fill: $accent-color;
}



